[user]
  name = Bryan Stedman
	email = bryanbstedman@gmail.com

[diff]
  tool = vimdiff

[alias]
  aa = add --all
  b = branch
  br = branch
  ci = commit
  co = checkout
  di = diff
  st = status
  unstage = reset HEAD --
  undo-commit = reset --soft HEAD^
  last = log -1 HEAD
  down = pull
  up = push
  in = add
  out = rm
  done = commit -m
  fuckedup = reset --hard
  with = merge
  home = checkout master
  this = checkout
  wtf = status
  what = diff
  huh = diff
  bah = blame
  damnit = blame
  eh = config --get-regexp alias
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  amend = commit --amend
  fa = fetch --all
  pom = push origin master

[color]
  ui = true
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
