[user]
  name = Bryan Stedman
	email = bryanbstedman@gmail.com

[diff]
  tool = vimdiff

[core]
  editor = vim

[alias]
  aa = add --all
  amend = commit --amend
  b = branch
  bah = blame
  br = branch
  ci = commit
  co = checkout
  damnit = blame
  di = diff
  done = commit -m
  down = pull
  eh = config --get-regexp alias
  fa = fetch --all
  find = "!grepalias() { git config --global --get-regexp alias | grep -i \"$1\" | awk -v nr=2 '{sub(/^alias\\./,\"\")};{printf \"\\033[31m%_10s\\033[1;37m\", $1};{sep=FS};{for (x=nr; x<=NF; x++) {printf \"%s%s\", sep, $x; }; print \"\\033[0;39m\"}'; }; grepalias"
  fuckedup = reset --hard
  home = checkout master
  huh = diff
  in = add
  last = log -1 HEAD
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  out = rm
  pom = push origin master
  st = status
  this = checkout
  undo-commit = reset --soft HEAD^
  unstage = reset HEAD --
  up = push
  what = diff
  with = merge
  wtf = status

[color]
  ui = true
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
