"*":
  "exception-reporting":
    userId: "cff21abc-de9f-0844-faa2-f2299abf1785"
  "release-notes":
    viewedVersion: "0.89.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "0f64de591a8851ec17f92e91340b70d43dcec51d"
  editor:
    invisibles: {}
    showInvisibles: true
    fontSize: 15
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "language-java"
      "git-control"
      "notebook"
      "jshint"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/bryanstedman/code"
    themes: [
      "one-light-ui"
      "solarized-dark-syntax"
    ]
    audioBeep: false
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
    disableWhenNoJshintrcFileInPath: true
  linter:
    showErrorTabLine: true
  "git-diff": {}
  "tree-view":
    hideIgnoredNames: true
  jsformat:
    format_on_save: false
  tasks: {}
  "todo-show": {}
  emmet:
    useEmmetComments: false
  "linter-jscs":
    preset: "jquery"
    displayAs: "warning"
    onlyConfig: true
    fixOnSave: true
  "one-dark-ui": {}
  "linter-scss-lint": {}
  "atom-color-highlight": {}
  pigments:
    sortPaletteColors: "by color"
  "one-light-ui": {}
  "advanced-new-file":
    createFileInstantly: true
"source.gfm":
  editor:
    softWrap: true
"exception-reporting":
  userId: "bc2b427d-10d4-3ede-68cf-30f6e46f64b5"
welcome:
  showOnStartup: false
metrics:
  userId: "0f64de591a8851ec17f92e91340b70d43dcec51d"
